/* Start Variables */
:root {
    --main-color: #FF5733;
    --secondary-color: #3741E9;
    --third-color : #6c757d;
    --main-duration: 0.5s;
  }
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
html 
{
    scroll-behavior: smooth ;
}
body{
    padding: 0px !important;
    margin: 0px!important;
}
/* span
{
    color: black ;
    font-weight: bolder ;
} */
.alignCenter
{
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl ;
}
/********** header & home page*************/ 

/* Banner */
.banner-img
{
    width: 100%;
}
@media (max-width:968px) {
    .banner-img
{
    width: 100%;
}
}
/* <!-- ****** content section ******--> */
.contentStyle
{
    justify-content: space-around !important;
}
.discreptionStyle
{
    border-radius: 2px;
}
.cardStyle
{
    padding: 0% !important;
    margin: 0%;
    direction: rtl;
}
.card-body img
{
    height: 350px;
}

iframe
{
    width: 100%;
}
/* <!-- ****** footer ******--> */
